.navbar-brand {
    font-size: 2.25rem;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

body {
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        background: url('../images/images.jpeg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
